<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SSCCServlet</servlet-name>
    <servlet-class>cn.edu.nju.seg.sscc.servlet.SSCCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSCCServlet</servlet-name>
    <url-pattern>/SSCCServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SSCCAjaxBottomServlet</servlet-name>
    <servlet-class>cn.edu.nju.seg.sscc.servlet.SSCCAjaxBottomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSCCAjaxBottomServlet</servlet-name>
    <url-pattern>/SSCCAjaxBottomServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SSCCAjaxRightServlet</servlet-name>
    <servlet-class>cn.edu.nju.seg.sscc.servlet.SSCCAjaxRightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSCCAjaxRightServlet</servlet-name>
    <url-pattern>/SSCCAjaxRightServlet.action</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  <servlet>
    <servlet-name>AddHA</servlet-name>
    <servlet-class>servlet.AddHAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHA</servlet-name>
    <url-pattern>/BACH/AddHA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyHA</servlet-name>
    <servlet-class>servlet.ModifyHAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyHA</servlet-name>
    <url-pattern>/BACH/ModifyHA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveHA</servlet-name>
    <servlet-class>servlet.SaveHAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveHA</servlet-name>
    <url-pattern>/BACH/SaveHA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HAListForFlex</servlet-name>
    <servlet-class>servlet.ShowHAToFlex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HAListForFlex</servlet-name>
    <url-pattern>/HAListForFlex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetHA</servlet-name>
    <servlet-class>servlet.SendHAToFlex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHA</servlet-name>
    <url-pattern>/GetHA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadHA</servlet-name>
    <servlet-class>servlet.SaveHAFromFlex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHA</servlet-name>
    <url-pattern>/UploadHA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveHistory</servlet-name>
    <servlet-class>servlet.SaveHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveHistory</servlet-name>
    <url-pattern>/SaveHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WorkflowServlet</servlet-name>
    <servlet-class>workflow.api.WorkflowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkflowServlet</servlet-name>
    <url-pattern>/workflow.workflow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>workflow.api.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/workflow.user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RelationServlet</servlet-name>
    <servlet-class>workflow.api.RelationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelationServlet</servlet-name>
    <url-pattern>/workflow.relation</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServicesServlet</servlet-name>
    <servlet-class>workflow.api.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicesServlet</servlet-name>
    <url-pattern>/workflow.service</url-pattern>
  </servlet-mapping>
 
</web-app>